<h1>Leaderboard</h1>
<%= render "new_match_button" %>

<div class="panel panel-default">
  <table class="table">
    <% @teams.each do |team| %>
      <% total_games = team.games.count %>
      <% wins = team.games.where(winner_id: team.id).count %>
      <tr>
        <td><%= wins %> - <%= total_games - wins %></td>
        <td><%= team.name %></td>
      </tr>
    <% end %>
  </table>
</div>
